@model Biblioteca_c_sharp.Models.User

@{
    ViewData["Title"] = "Create User";
}

<h2>Create User</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Document_Number" class="control-label"></label>
        <input asp-for="Document_Number" class="form-control" />
        <span asp-validation-for="Document_Number" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Contact_Number" class="control-label"></label>
        <input asp-for="Contact_Number" class="form-control" />
        <span asp-validation-for="Contact_Number" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
