@model IEnumerable<Biblioteca_c_sharp.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Libros</h1>

@foreach (var item in Model)
{
    <p>@item.Title</p>

}

<ul>
    <li><a asp-action="Create">Create New</a></li>
    <li><a asp-action="Index">Back to List</a></li>
</ul>