@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Welcome to Riwi's Library</h1>
        <p>The place where books are adventures.</p>

        <div>
            <a href="@Url.Action("IndexBooks", "Books")">Pagina de libros</a>
        </div>



        <form class="form-inline my-2 my-lg-0 d-flex">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <div class="container px-4 text-center">
        <div class="row gx-5">
            <div class="col">
                <div class="p-3">Administrator</div>
            </div>
            <div class="col">
                <div class="p-3">User</div>
            </div>
        </div>
    </div>
</div>